<div class="col-sm-6">
  <img src="images/pike.jpg" alt="">
</div>
<h2>Littoisten kalakerho ry</h2>
<table class="table">
  <thead>

  </thead>
  <tbody>
    <p>Perustettu kolmen kaveruksen toimesta 1994 Littoisten järvellä.</p>
    <p>Jäsenmäärä on vaihdellut vuosien aikana 3-10 henkilöä.</p>
  </tbody>
</table>
