<div class="data-form">
  <form class="form-signin" action="/members/create" method="POST">
    <h2 class="form-signin-heading">Luo uusi jäsen:</h2>
    <label for="inputFirstName">Etunimi</label>
    <input type="text" name="first" id="inputFirstName" class="form-control" placeholder="First" autofocus>
    <label for="inputLastName">Sukunimi</label>
    <input type="text" name="last" id="inputLastName" class="form-control" placeholder="Last">
    <label for="inputEmail">Sähköposti</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
    <label for="inputZipCode">Postinumero</label>
    <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" class="form-control" placeholder="Zip Code" required>
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Tallenna</button>
  </form>
</div>
