<h2>Enn채tykset</h2>
<table class="table">
  <thead>
    <tr>
      <th>Laji</th>
      <th>Paino</th>
      <th>Kalastaja</th>
    </tr>
  </thead>
  <tbody>
    <% records.forEach(record => { %>
    <tr>
      <td>
        <a href="<%= `/records/${record._id}` %>">
          <%= records.specie %>
        </a>
      </td>
      <td>
        <%= records.weight %>
      </td>
      <td>
        <%= records.fisher %>
      </td>
    </tr>
    <% }); %>
  </tbody>
  <a href="records/new">Lis채채 uusi enn채tys</a>
</table>
