<h1>Enn채tys
 
</h1>
<table class="table">
  <tr>
    <th>Laji</th>
    <td>
      <%= record.fishSpecie %>
    </td>
  </tr>
  <tr>
    <th>Paino</th>
    <td>
      <%= record.weight %>
    </td>
  </tr>
  <tr>
    <th>Kalastaja</th>
    <td>
      <%= record.fisher %>
    </td>
  </tr>
</table>
<div class="center">
  <a class="button" href="records">N채yt채 kaikki enn채tykset</a>
</div>
