<div class="col-sm-6">
  <img src="images/jarvi.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>Yhteystiedot</h1>
  <p>Ole meihin yhteydessä, jos olet kiinnostunut toiminnastamme!</p>
  <p>littoistenkalakerho@gmail.com</p>
  <p>Puh. 044-5568441</p>
</div>
