<div class="col-sm-6">
  <img src="images/kala.JPG" alt="">
</div>
<div class="col-sm-6">
  <h1>Tervetuloa!</h1>
  <p> N채ill채 sivuilla p채채set tutustumaan Littoisten kalakerhon toimintaan!</p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo temporibus eaque ipsum aut id, tenetur assumenda consequatur ducimus, repellat minima ullam, repudiandae harum eos eligendi saepe! Molestiae sapiente est enim.</p>
  <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam autem aut tempore eligendi quibusdam repellendus? Est aliquid mollitia illo aut magnam veniam eum, saepe optio omnis iste, rem eos voluptas?</p>
</div>
