<div class="col-sm-6">
  <img src="images/people.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1 class="title">Littoisten kalakerho</h1>
  <h1>Kalakerho</h1>
  <% offeredCourses.forEach(course => { %>
  <h5>
    <%= course.title %>
  </h5>
  <span>$
    <%= course.cost %> </span>
  <% }); %>
</div>
