<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Littoisten kalakerho</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/recipe_app.css">
</head>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">Littoisten kalakerho</h1>
		</div>
		<div class="col-sm nav-align">
			<a href="/">
				<span class="button">Etusivu</span>
			</a>
			<a href="/kalakerho">
				<span class="button">Littoisten kalakerho</span>
			</a>
			<a href="/members">
				<span class="button">Jäsenet</span>
			</a>
			<a href="/records">
				<span class="button">Ennätykset</span>
			</a>
			<a href="/contact">
				<span class="button">Yhteystiedot</span>
			</a>
		</div>
	</div>

	<div class="container">
		<%- body %>
	</div>

</body>

</html>
